<div class="jumbotron">
</div>

<div class="container nudge">
  <div class="back">
    <a routerLink="../../list">&larr; Go back to Members</a>
  </div>
  <div>
    <h3>
      <img src="{{(memberToDisplay | async)?.image}}">
    </h3>
    <h3><a href="http://twitter.com/{{(memberToDisplay | async)?.twitter}}">{{(memberToDisplay | async)?.name}}</a></h3>
    <h4><a href="mailto:{{(memberToDisplay | async)?.email}}">{{(memberToDisplay | async)?.email}}</a></h4>

    <p><span>Twitter handle: </span>
      <a href="{{(memberToDisplay | async)?.twitter}}">@{{(memberToDisplay | async)?.twitter}}</a></p>

    <p><span>Favorite book: </span>
      {{(memberToDisplay | async)?.book}}</p>

    <p><span>Favorite movie: </span>
      {{(memberToDisplay | async)?.movie}}</p>

    <p><span>Bio: </span>
      {{(memberToDisplay | async)?.description}}</p>
  </div>
</div>
