nav, .navbar, .navbar-default {
  border-radius: 0;
  background-color: #d748f0;
  border: none;
  margin-bottom: -30px;
  height: 80px;
  padding-top: 15px;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.navbar-brand {
  text-shadow: 4px 5px 5px #c042d6;
}

nav a {
  margin-top: 5px;
  font-size: 40px;
  color: #00edfa;
  transition: 0.3s all ease-in-out;
}

nav a:hover {
  color: #523a68;
}

nav a:focus, nav a:active {
  color: #00edfa;
}

.navbar-right a {
  color: white;
  font-size: 20px;
}

.navbar-right a:hover {
  background-color: #00edfa;
  transform: translateY(-.1em);
}

nav {
  box-shadow: 0 3px 15px 3px #392a53;
}
