<div class="container nudge">
  <h2>The Low Lifes</h2>
  <div class="row">
    <div class="col-sm-12 panel-wrapper">
      <div *ngFor="let member of members | async"  class="panel">
        <div class="panel-body">
          <!--Image-->
          <div (click)="goToDetailPage(member)" class="img-wrapper">
            <img src="{{member.image}}" class="member-img img-circle">
          </div>

          <!--Overview of member info-->
          <h3 (click)="goToDetailPage(member)">
            {{member.name}} &rarr;</h3>
            <a href="http://twitter.com/{{member.twitter}}">@{{member.twitter}}</a>

            <div *ngIf="currentRoute === '/admin'">
              <app-edit-member [selectedMember]="member"></app-edit-member>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
