.img-wrapper {
  text-align: center;
}

.member-img {
  border: 5px solid #d748f0;
  height: 250px;
  width: 250px;
  max-width: 400px;
}

.panel {
  background-color: #523a68;
  float: left;
  width: 47%;
  height: 450px;
  max-height: 500px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #444;

}

.panel:nth-of-type(even) {
  margin-left: 6%;
}
