.jumbotron {
  background: url('http://orig15.deviantart.net/aa7f/f/2016/110/c/b/virtuaverse_by_valenberg-d9zknoe.gif');
  background-size: cover;
  background-position: top;
  height: 350px;
}


.member-img {
  border: 5px solid #d748f0;
  height: 250px;
  width: 250px;
  max-width: 500px;
}

.panel-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: inherit;
}

.panel {
  text-align: center;
  background-color: #523a68;
  width: 48%;
  max-width: 550px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #000;
  transition: 0.3s ease-in-out all;
}

.panel:hover {
  background-color: #5d4475;
}

@media only screen and (max-width: 600px) {
    .panel {
        width: 100%;
    }
}

.member-img, h3 {
  cursor: pointer;
}
