.jumbotron {
  /*background-color: #00edfa;*/
  background: url('../../assets/rainycity.gif');
  background-size: cover;
  background-position: bottom;
  height: 350px;
  margin-top: -50px;
}

.container {
  background-color: red;
}

label, input {
  display: block;
  color: red;
}
