.jumbotron {
  /*background-color: #00edfa;*/
  background: url('../../assets/rainycity.gif');
  background-size: cover;
  background-position: bottom;
  height: 350px;
  margin-top: -50px;
}

.panel {
  background-color: inherit;
}

.container {
  background-color: #523a68;
  width: 50%;
  box-shadow: 2px 2px 10px #000;
  transition: 0.3s ease-in-out all;
}

label, input {
  display: block;
  color: #fafafa;
}

label {
  padding: 10px 0;
}

input {
  color: #333;
}

textarea {
  width: 100%;
  outline: none;
  color: #333;
}
