<div class="jumbotron">
</div>

<div class="container nudge">
  <div class="panel">
    <div class="panel-heading">
      <h2>Add a New Low Life to the Club</h2>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Image URL of new member:</label>
          <input #newImage>
        </div>

        <div>
          <label>Name:</label>
          <input #newName>
        </div>

        <div>
          <label>Email address:</label>
          <input #newEmail>
        </div>

        <div>
          <label>Twitter address:</label>
          <input #newTwitter>
        </div>

        <div>
          <label>Favorite cyberpunk book:</label>
          <input #newBook>
        </div>

        <div>
          <label>Favorite cyberpunk movie:</label>
          <input #newMovie>
        </div>

        <div>
          <label>Bio:</label>
          <textarea #newDescription></textarea>
        </div>
        <button (click)="submitForm(
        newImage.value,
        newName.value,
        newEmail.value,
        newTwitter.value,
        newBook.value,
        newMovie.value,
        newDescription.value);
        newImage.value='';
        newName.value='';
        newEmail.value='';
        newTwitter.value='';
        newBook.value='';
        newMovie.value='';
        newDescription.value=''">Add</button>
      </div>
    </div>
  </div>
</div>

<div>
  <app-list></app-list>
</div>
