<div class="panel edit" class="editing">
  <label>Edit Image:</label>
  <input [(ngModel)]="selectedMember.image">
  <br>

  <label>Edit Name:</label>
  <input [(ngModel)]="selectedMember.name">
  <br>

  <label>Edit Email:</label>
  <input [(ngModel)]="selectedMember.email">
  <br>

  <label>Edit Twitter address:</label>
  <input [(ngModel)]="selectedMember.twitter">
  <br>

  <label>Edit Book:</label>
  <input [(ngModel)]="selectedMember.book">
  <br>

  <label>Edit Movie:</label>
  <input [(ngModel)]="selectedMember.movie">
  <br>

  <label>Edit Bio:</label>
  <input [(ngModel)]="selectedMember.description">

  <button (click)="beginUpdatingMember(selectedMember)">Update</button>
  <button (click)='beginDeletingMember(selectedMember)'>Delete</button>

</div>
