/* blue #00edfa
*/

body {
  background-color: #1f162e;
  font-size: 20px;
  color: #333;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: .01em;
}

a {
  color: #fff;
  transition: 0.3s all ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #d748f0;
}

li a {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #00edfa;
  font-family: 'Fjalla One', sans-serif;
  transition: 0.3s all ease-in-out;
  line-height: 1.2em;
}

h3:hover {
  color: #1f162e;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #00edfa;
  padding: 15px;
  text-align: center;
}

.footer a {
  color: white;
}

.animation {
  text-align: center;
  margin: 0 auto;
  width: 90px;
  background: linear-gradient(45deg, #d748f0, #523a68);
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
  animation: throb 35s infinite alternate ease-in-out;
}

@keyframes throb {
  0% {
    /*transform: scale(1.01);*/
    background: linear-gradient(45deg, #523a68, #d748f0);
  }
  10% {
    background: linear-gradient(60deg, #523a68, #d748f0);
  }
  20% {
    background: linear-gradient(70deg, #523a68, #d748f0);
  }
  30% {
    background: linear-gradient(90deg, #523a68, #d748f0);
  }
  40% {
    background: linear-gradient(110deg, #523a68, #d748f0);
  }
  50% {
    background: linear-gradient(120deg, #523a68, #d748f0);
  }
  60% {
    background: linear-gradient(130deg, #523a68, #d748f0);
  }
  70% {
    background: linear-gradient(140deg, #523a68, #d748f0);
  }
  80% {
    background: linear-gradient(150deg, #523a68, #d748f0);
  }
  90% {
    background: linear-gradient(160deg, #523a68, #d748f0);
  }
  100% {
    background: linear-gradient(170deg, #523a68, #d748f0);
  }
}

.nudge {
  margin-top: 60px;
  margin-bottom: 100px;
  background-color: inherit;
}

.container {
  max-width: 1100px;
  color: #fafafa;
}

.member-img {

}

label, input {
  display: block;
  width: 100%;
  outline: none;
  color: #00edfa;
}


label {
  text-align: left;
}

input {
  color: #333;
  transition: 0.3s all ease-in-out;
  border: 1px solid #1f162e;
  border-radius: 3px;
  padding: 10px;
  transition: 0.3s all ease-in-out;
}

input:hover, input:focus, input:active {
  padding: 10px;
  border: 1px solid #111;
  background-color: #bffbff;
}

button {
  background-color: #d748f0;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.3s all ease-in-out;
}

button:hover {
  background-color: #1f162e;
}
